 <!-- root component - appView $appCtrl -->
<image-section>
    <div class="grid-frame vertical">

        <header-component 
            info="$appCtrl.info"
            state="$stateCtrl.active"
            ></header-component>

        <div class="grid-content stage">
            <!-- <div class="grid-block"> -->
                <div ui-view="content" class="scroll-view keep-scroll animation-promise grid-block"></div>
            <!-- </div> -->
        </div>

        <nav ui-view="alt" class="menu-scroll"></nav>

        <footer-component
            info="$appCtrl.info"
            ></footer-component>
    </div>

    <!-- background image -->
    <div class="background-wrapper">
        <image-loader src="{{$resolve.img.src}}" no-append="true" class="background-elm" background-replace="true" on-load="$appCtrl.complete"></image-loader>
    </div>

</image-section>

<aside ui-view="imagestage"><!-- used by imageView module for overlay --></aside>