<image-section>
    <div class="grid-frame vertical">
        <div class="grid-content stage">
            <!-- <div class="grid-block"> -->
                <div ui-view="main" class="scroll-view grid-block"></div>
            <!-- </div> -->
        </div>
        <nav ui-view="alt"></nav>
    </div>

    <!-- background image -->
    <div class="background-wrapper">
        <image-loader src="{{$resolve.img.src}}" no-append="true" class="background-elm" background-replace="true" on-load="$mainCtrl.complete"></image-loader>
    </div>
</image-section>