// search view template style
@import "../../../../scss/req"; // required
// 
// 
// 
$animation-duration-default: 0.8s !default;
.recipe-button {
    display: block;
    &.ng-enter,
    &.ng-move {
        transition: opacity ($animation-duration-default/3)*2 ease-in,
        			transform $animation-duration-default ease-out;
    }
    &.ng-enter-prepare {
        opacity: 0;
    }
    &.ng-enter {
        transform: translateX(rem-calc(-200));
        opacity: 0;
        // transform: translate3d(100%, 0, 0);
        &.ng-enter-active {
	        opacity: 1;
	        transform: translateX(rem-calc(0));
	    }
    }
    &.ng-move {
        transform: translateX(rem-calc(50));
        &.ng-move-active {
	        transform: translateX(rem-calc(0));
	    }
    }
    &.ng-enter-stagger,
    &.ng-move-stagger,
    &.ng-leave-stagger // &.ng-stagger,
    {
        /* this will have a 100ms delay between each successive leave animation */
        transition-delay: $animation-duration-default/4;
        // As of 1.4.4, this must always be set: it signals ngAnimate
        // to not accidentally inherit a delay property from another CSS class
        transition-duration: 0s;
    }
    // &.ng-enter-stagger-active,
    // &.ng-move-stagger-active,
    // &.ng-leave-stagger-active {
    // }
    // &.ng-leave-prepare { 
    //     transform: translateX(0);
    // }
    &.ng-leave {
        transition: opacity $animation-duration-default/2 ease-in 0s,
        			transform $animation-duration-default ease-in 0s;
        // opacity: 1;
        // border: 1px solid green;
        transform: translateX(0);
        &.ng-leave-active {
            opacity: 0;
            transform: translateX(rem-calc(200));
        }
    }
}



// search input
// 
// 
// ng-touched, ng-untouched
// ng-pristine, ng-dirty

