[ui-view="dinnertable"] {
    position: relative;
// .bg-table-cloth {
    background-image: url('../images/treasured-recipes-background-hi-res.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;

    padding-bottom: rem-calc(100);
    
        border: 5px solid purple;

        opacity: 0;
        transition: opacity 5s, background-image 3s ease-in;
        // transition-delay: 0.5s;
    // &.bg-load-active,
    // .bg-load-active & {
    //     border: 5px solid yellow;
    //     // background-image: none;
    // }
    // &.bg-load-fail,
    // .bg-load-fail & {
    //     border: 5px solid red;
    // }

    // &.bg-load-success,
    // .bg-load-success & {
    //     border: 5px solid green;
    //     opacity: 1;
    // }
    

    background-position: right bottom;
    transition-delay: 0.7s;
    transition: background-position 3s ease-in;
    &.go-dark,
    .go-dark & {
        opacity: 0;
        background-position: center center;
        // background-position: rem-calc(-2575) center;
    }
    &.go-light,
    .go-light & {
        opacity: 1;
        background-position: rem-calc(-2575) center;
    }
    &.walk-in,
    .walk-in & {
        opacity: 1;
        background-position: bottom right;
    }
    &.home,
    .home & {
        opacity: 1;
        background-position: 0 rem-calc(-975);
    }
    &.recipe,
    .recipe & {
        opacity: 1;
        background-position: 0 right;
    }
// }
    // &.ng-enter,
    // &.ng-leave {
    //     position: absolute;
    //     width: 100%;
    //     transition: all 5s ease-in;
    // }
    // &.ng-enter {
    //     transform: translate3d(100%, 0, 0);
    // }
    // &.ng-enter-active {
    //     transform: translate3d(0, 0, 0);
    // }
    // &.ng-leave {
    //     transform: translate3d(0, 0, 0);
    // }
    // &.ng-leave-active {
    //     transform: translate3d(-100%, 0, 0);
    // }
}

[ui-view="main"] {
    &.ng-enter,
    &.ng-leave {
        // position: absolute;
        // width: 100%;
        // transition: all 2s ease-in;
    }
    // &.ng-enter {
    //     transform: translate3d(100%, 0, 0);
    // }
    // &.ng-enter-active {
    //     transform: translate3d(0, 0, 0);
    // }
    // &.ng-leave {
    //     transform: translate3d(0, 0, 0);
    // }
    // &.ng-leave-active {
    //     transform: translate3d(-100%, 0, 0);
    // }
    &.ng-leave {
        // transition: all ease 0.5s;
        // .ng-show.fade-in {
        animation-name: scrollout;
        animation-duration: 1.2s;
        animation-timing-function: easein;
        // }
    }
    // &.ng-leave-active {
    //     // .old-tablet-seemless {
    //         animation-name: scrollout;
    //         animation-duration: 1s;
    //         animation-timing-function: ease;
    //     // }
    // }
    &.ng-enter {
        // .old-tablet-seemless {
        // animation-delay: 0.5s;
        //     animation-name: scrollin;
        //     animation-duration: 1s;
        //     animation-timing-function: ease;
        // }
    }
    &.ng-enter {
        // .ng-show.fade-in {
        // animation-delay: 0.5s;
        animation-name: scrollin;
        animation-duration: 1s;
        animation-timing-function: easein;
        // }
    }
}
