// =============================================================================
// custom elements / directives
// =============================================================================
family-recipe {
	display:block;
	margin-left: rem-calc(-80);
	// padding-left: rem-calc(50);
	// .inner-wrap {
	// 	margin-left: rem-calc(120);
	// 	max-width: rem-calc(700);
	// }
}


image-section,
image-loader
{
	display: block;
}