
@font-face {
    font-family: 'BlackLetterTypewriter';
    src: url('../fonts/f25_blacklettertypewriter-webfont.woff2') format('woff2'),
         url('../fonts/f25_blacklettertypewriter-webfont.woff') format('woff'),
         url('../fonts/f25_blacklettertypewriter-webfont.ttf') format('truetype'),
         url('../fonts/f25_blacklettertypewriter-webfont.svg#f25_blacklettertypewriterRg') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'SmithTypewriter';
    src: url('../fonts/l.c._smith_5_typewriter-webfont.woff2') format('woff2'),
         url('../fonts/l.c._smith_5_typewriter-webfont.woff') format('woff'),
         url('../fonts/l.c._smith_5_typewriter-webfont.ttf') format('truetype'),
         url('../fonts/l.c._smith_5_typewriter-webfont.svg#l.c._smith_5_typewriterRg') format('svg');
    font-weight: normal;
    font-style: normal;

}