.old-world {
    img {
        width: rem-calc(150);
        height: auto;
        background-color: transparent;
    }
    &.loading {
        img {
            height: rem-calc(100);
            background-color: $border-color;
        }
    }
    display: block;
    margin: 0 auto;
    // float: right;
    // opacity: 0.80;
    // -webkit-filter: sepia(1);
    filter: sepia(0.9);
    // margin: 0 30px 20px 0;
    // 
    // margin: 20px auto;
    // text-align:center;
    // &
    // border: rem-calc(2) solid transparent;
    border: rem-calc(4) solid $border-color;
    [href] & {
        &:hover {
            border-color: $alert-color;
            filter: sepia(0.1);
            border-color: $border-color;
        }
    }
    // padding: rem-calc(3);
}
