<div class="grid-block bg-table-cloth" ng-controller="homeCtrl">
    <article class="grid-container">
        <!-- <div class="book-left-page-top-cap"></div> -->
        <div class="bg-cutting-board">
            <!-- <img src="assets/images/kitchenware.png" class="old-world" alt="Kitche Ware"> -->
            <div action="" class="grid-block medium-8 medium-centered">
                <label>
                    <!-- Search Recipes -->
                    <span class="inline-label">
<input type="search" placeholder="Search Recipes">
<a href="#" class="button rounded">Search</a>
</span>
                </label>
            </div>
            <a ng-click="gotoRecipes()" class="button extended">Recipes</a>
        </div>
    </article>
    <!-- <div class="book-left-page-bottom-cap"></div> -->
</div>
