// image view template style
@import "../../../../scss/req"; // required
$animation-duration-default: 800ms !default;
// 
[ui-view="imagestage"] {
    z-index:5;
    position: absolute;
	// position: relative;
    width: vw;
    height: vh;
    &.ng-enter {
        transition: opacity ease-in $animation-duration-default/2;
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
    .modal {
        animation-name: scrollin;
        animation-duration: $animation-duration-default*2;
        animation-timing-function: easein;
    }
    &.ng-leave {
        transition: opacity ease-out $animation-duration-default/2;
    }
    &.ng-leave-active {
        opacity: 0;
    }
}

image-view {
    // position: relative;
    width: vw;
    height: vh;
}
