
<section class="grid-block" ng-show="recipe.details.name">
    <div class="grid-content">
        <div class="book-left-page-top-cap"></div>
        <div class=" book-left-page">
            <article class="grid-container">
                    <h1>{{recipe.title.rendered}}</h1>
                    <h2>{{recipe.details.name}}</h2>
                <br>
                <br>
               <!--  <section class="block-list">
                    <header>Ingredients</header>
                    <ul>
                        <li ng-repeat="ing in recipe.details.recipeIngredient">
                            {{ing}}
                        </li>
                    </ul>
                </section> -->
                <section>
                    <header>Cooking Instructions</header>
                    <ol>   
                    <!-- <li>{{recipe.details.recipeInstructions}}</li> -->
                        <li ng-repeat="step in recipe.details.recipeInstructions">
                            {{step}}
                        </li>
                    </ol>
                </section>
            </article>
        </div>
        <div class="book-left-page-bottom-cap"></div>
    </div>
</section>
<!-- <section class="grid-block" ng-controller="homeCtrl">
    <div class="grid-content">
        <div class="book-left-page-top-cap"></div>
        <div class=" book-left-page">
            <article class="grid-container">
                <h1 class="text-center">Mullen Family Treasured Recipes</h1>
                <br>
                <br>
                <img src="assets/images/kitchenware.png" class="old-world" alt="Kitche Ware">
                <a ui-sref="recipe" class="button extend">Recipes</a>
            </article>
        </div>
        <div class="book-left-page-bottom-cap"></div>
    </div>
</section> -->
