// action nav view template style
@import "../../../../scss/req"; // required 

// 
// 
@keyframes slideoutnav {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(rem-calc(100));
    }
}

@keyframes slideinnav {
    0% {
        transform: translateY(rem-calc(100));
    }
    100% {
        transform: translateY(0);
    }
}

[ui-view="alt"] {
    cursor: pointer;
    border-top: 1px solid $primary-color;
    // background-color: rgba($black, 0.2); // rgba($primary-color, 0.8)
    // background-color: rgba($primary-color, 0.8); // rgba($primary-color, 0.8)

    &.ng-enter,
    &.ng-leave {
        .menu-bar {
            animation-duration: 1.0s;
        }
    }

    &.ng-enter {
        .menu-bar {
            animation-name: slideoutnav;
            animation-delay: 1.0s;
            animation-timing-function: ease-out;
        }
    }

    &.ng-leave {
        .menu-bar {
            animation-name: slideinnav;
            // animation-delay: 2s;
            // animation-duration: 0.2s;
            animation-timing-function: ease-in;
        }
    }
}
