<!-- actionNav -->
<!-- {{$ctrl}} -->
<!-- <h1>$ctrl.showNav:  {{$ctrl.loading }}</h1> -->

<!-- <h1>stateChange:  {{$ctrl.stateChange }}</h1> -->
<!-- init {{ :: $ctrl.init }} -->
<ul class="dark menu-bar" ng-if="$ctrl.showNav">
    <li ng-if="$ctrl.next.slug">
        <a ui-sref="recipe({slug: $ctrl.next.slug})">
            <span><span class="icon-angle-left white"></span>&nbsp;&nbsp;{{ :: $ctrl.next.title.rendered}}</span>
        </a>
    </li>
    <li class="show-for-medium shrink">
        <a ui-sref="search.list">
            <span><span class="icon-search white"></span>&nbsp;&nbsp;Search Recipes</span>
        </a>
    </li>
    <li ng-if="$ctrl.prev.slug" class="align-right">
        <a ui-sref="recipe({slug: $ctrl.prev.slug})">
            <span>{{ :: $ctrl.prev.title.rendered}}&nbsp;&nbsp;<span class="icon-angle-right"></span></span>
        </a>
    </li>
</ul>
