// action nav view template style
@import "../../../../scss/req"; // required 

$animation-duration-default: 0.2s !default;

$component-height: rem-calc(100);
$header-font-size: $h1-font-size;

// $header-fore-color: rgba($secondary-color, 0.8) !default;
// $header-back-color: rgba($secondary-color, 0) !default;




header-component {
    

    // borrowed from https://www.html5andbeyond.com/pure-css3-background-textures-examples/
    // background: $secondary-color;
    // background: linear-gradient(135deg, $header-fore-color 0%, $header-fore-color 23%, rgba($tuatara, 1) 25%, $header-fore-color 27%, $header-fore-color 50%, $header-fore-color 73%, rgba($tuatara, 1) 75%, $header-fore-color 77%);
    // background-size: rem-calc(10) rem-calc(10);

    // header {
    //     width: inherit;
    //     height: inherit;
    //     background: linear-gradient(45deg, $header-back-color 0%, $header-back-color 23%, rgba($tuatara, 1) 25%, $header-back-color 27%, $header-back-color 50%, $header-back-color 73%, rgba($tuatara, 1) 75%, $header-back-color 77%);
    //     background-size: rem-calc(10) rem-calc(10);
    // }
    
    font-size: $header-font-size;


    display: block;
    position: relative;
    background-color: rgba($secondary-color, 0.8);
    // border-bottom: rem-calc(2) solid $secondary-color;
    border-bottom: rem-calc(3) solid rgba($primary-color, 0.8);
    filter: drop-shadow(rem-calc(1) rem-calc(2) rem-calc(2) rgba(0, 0, 0, 0.3));

}
.header-scroll-down {
    
    /* this transition tells ngAnimate to make the animation happen */
    transition-property: all;
    transition-duration: $animation-duration-default;
    // transition-timing-function: cubic-bezier(0.940, 0.460, 0.450, 0.250);
    transition-timing-function: ease-out;


// transform: translateY(rem-calc($component-height*2));

        /* property name | duration | timing function | delay */
        // transition:all 1s cubic-bezier(0.940, 0.460, 0.450, 0.250);
    &.ng-enter-prepare,
    &.ng-header-enter-prepare {
        // transition-property: all;
        // transition-duration: 1s;
        // transition-timing-function: cubic-bezier(0.940, 0.460, 0.450, 0.250);
        overflow: hidden;
    }
    &.ng-leave,
    &.ng-header-leave {
        transition-duration: $animation-duration-default;
        // transition-property: all;
        // transition-duration: 1s;
        // transition-timing-function: cubic-bezier(0.940, 0.460, 0.450, 0.250);
        overflow: hidden;
    }
    // &.ng-enter {
    //     height: rem-calc(200);
    //     &.ng-enter-active {
    //         overflow: auto;
    //         height: auto;
    //     }
    // }
    // &.ng-enter,
    &.ng-leave.ng-leave-active,
    &.ng-header-leave.ng-header-leave-active {
        // .recipe-view & {
            height: 0;
            overflow: auto;
        // }
    }
        
    // &.ng-leave,
    &.ng-enter.ng-enter-active,
    &.ng-header-enter.ng-header-enter-active {
        // .search-view & {
            overflow: auto;
            height: auto;
        // }
    }

    .crop { 
        // background-color: green;
        overflow: hidden;
    }
}

/* this extra CSS class will be absorbed into the transition
since the $animateCss code is adding the class */
// .crop { 
//     background-color: green;
//     // do someting on enter
// }