// =============================================================================
// animations
// =============================================================================
// USE MIXIN 
// 
// @include keyframes( NAME ) {
//     CONTENT
// }
// =============================================================================
// base animation speed // to keep pace the same
$animation-speed: 2s !default;
// start animation
@include keyframes( pulse) {
    0%,
    100% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(2.0);
    }
}

@include keyframes( highlight) {
    0%,
    100% {
        stroke: $smoke;
    }
    50% {
        stroke: $iron;
    }
}

@include keyframes( spin) {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@include keyframes( wiggle) {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(3deg);
    }
    70% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@include keyframes( lighten) {
    0%,
    100% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
}


@include keyframes(searchin) {
    0% {
        opacity: 0;
        transform: translateX(rem-calc(-400));
    }
    50% {
        opacity: 1;
    }
    100% {
        color: red;
        transform: translateX(0);
    }
}

@include keyframes(searchpause) {
    0% {
        opacity: 0;
        transform: translateX(rem-calc(-400));
    }
}

@include keyframes(searchout) {
    0% {
        opacity: 1;
        // height: auto;
        // min-height: rem-calc(30);
        transform: translateX(0);
    }
    100% {
        transform: translateX(rem-calc(400));
        opacity: 0;
        // height: 0;
    }
}

@include keyframes(searchoutall) {
    0% {
        opacity: 1;
        // height: auto;
        // min-height: rem-calc(30);
        transform: translateY(0);
    }
    100% {
        transform: translateY(rem-calc(4000));
        opacity: 0;
        // height: 0;
    }
}


@include keyframes(scrollout) {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(rem-calc(2000));
    }
}


@include keyframes(scrollin) {
    0% {
        transform: translateY(rem-calc(-4000));
    }
    100% {
        transform: translateY(0);
    }
}


@include keyframes(slideout) {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(rem-calc(100));
    }
}


@include keyframes(slidein) {
    0% {
        transform: translateY(rem-calc(100));
    }
    100% {
        transform: translateY(0);
    }
}