// @import "compass/css3/transition";

// animate `ng-show`
.fade-in {
    transition: opacity 0.4s;
    &.ng-hide {
        // display: inherit !important;
        opacity: 0;
    }
}

.ng-click {
    cursor: pointer;
}