// @import "compass/css3/transition";

// animate `ng-show`
.fade-in {
    transition: opacity 0.5s;
    &.ng-hide {
        display: inherit !important;
        opacity: 0;
    }
}

.ng-click {
    cursor: pointer;
}


/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
// https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-animate-ui-view-with-ng-animate

// .automation-content {
//     position: relative;
    // min-height: rem-calc(300);
    // min-height: rem-calc(400)

    [ui-view].ng-enter,
    [ui-view].ng-leave {
        position: absolute;
        left: 0;
        right: 0;
        // transition: opacity 0.5s;
        // transition: all, 0.5s;
    }
    [ui-view].ng-enter {
        opacity: 0;
        // height: 1px;
        // letter-spacing: rem-calc(5);
        // filter: blur(rem-calc(3));
        transition: opacity 0.3s;
        // -webkit-transform: scale3d(0.5, 0.5, 0.5);
        // -moz-transform: scale3d(0.5, 0.5, 0.5);
        // transform: scale3d(0.5, 0.5, 0.5);
    }
    [ui-view].ng-enter-active {
        opacity: 1;
        // height: auto;
        // transform: rotate(180deg);
        // letter-spacing: inherit;
        // filter: blur(0);
        // transition: all, 1s);
        // transition: background-color, 2s);
    //     -webkit-transform: scale3d(1, 1, 1);
    //     -moz-transform: scale3d(1, 1, 1);
    //     transform: scale3d(1, 1, 1);
    }
    [ui-view].ng-leave {
        opacity: 1;
        // height: auto;
        // filter: opacity(100);
        // transition: background-color, 8s);
    //     -webkit-transform: translate3d(0, 0, 0);
    //     -moz-transform: translate3d(0, 0, 0);
    //     transform: translate3d(0, 0, 0);
    }
    [ui-view].ng-leave-active {
        opacity: 0;
        // height: 1px;
        // filter: opacity(0);
        transition: opacity 0.3s;
        // -webkit-transform: translate3d(rem-calc(400), 0, 0);
        // -moz-transform: translate3d(rem-calc(400), 0, 0);
        // transform: translate3d(rem-calc(400), 0, 0);
    }
// }

// angular animations
// @include transition-property(width);
// @include transition-duration(2s);
// @include transition-timing-function(ease-in);
// automation-content {
//     position: relative;
// //     background: white;
//     min-height: $base-increment-distance*4;
//     // height: 100%;
//     overflow: hidden;
//     [ui-view] {
//         padding: $base-increment-distance;
//         &.ng-animate {
//         border: $onepx solid red;
//         // transition: opacity 0.5s;
//             // transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
//             // position: absolute;
//             // top: 0;
//             // left: 0;
//             // right: 0;
//             // bottom: 0;
//         }
//         &.ng-leave.ng-leave-active,
//         &.ng-enter {
//         border: $onepx*5 solid green;
//             opacity: 0;
//             left: -10000px;
//         }
//         &.ng-leave,
//         &.ng-enter.ng-enter-active {
//             opacity: 0;
//         border: $onepx*5 solid blue;
//             left: 0;
//         }
//     }
// }
// .animate-switch-container {
//     position: relative;
//     background: white;
//     border: $onepx solid $black;
//     height: $base-increment-distance*4;
//     overflow: hidden;
// }
// .automation-content {
//     position: relative;
//     // background: white;
//     // border: $onepx solid $black;
//     // height: $base-increment-distance*4;
//     // overflow: hidden;
//     .animate-switch,
//     [ui-view] {
//         padding: $base-increment-distance;
//         &.ng-animate {
//             // transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//             // position: absolute;
//             // top: 0;
//             // left: 0;
//             // right: 0;
//             // bottom: 0;
//         }
//         &.ng-leave.ng-leave-active,
//         &.ng-enter {
//             // top: -$base-increment-distance*5;
//         }
//         &.ng-leave,
//         &.ng-enter.ng-enter-active {
//             // top: 0;
//         }
//     }
// }
// https://docs.angularjs.org/api/ng/directive/ngSwitch#animations
// .animate-switch-container {
//     position: relative;
//     background: white;
//     // border: 1px solid red;
//     // height: $base-increment-distance*4;
//     // height: 30px;
//     // min-height: 50px;
//     overflow: hidden;
// }
// .animate-switch {
//     padding: $base-increment-distance;
// }
// .animate-switch.ng-animate {
//   // @include transition-property(width);
//   // @include transition-duration(2s);
//   // @include transition-timing-function(ease-in);
//     // transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//     // position: absolute;
//     // top: 0;
//     // left: 0;
//     // right: 0;
//     // bottom: 0;
// }
// .animate-switch.ng-leave.ng-leave-active {
// // .animate-switch.ng-enter {
//   animation-name: bounceOutLeft;
//     // top: -100%;
// }
// // .animate-switch.ng-leave,
// .animate-switch.ng-enter.ng-enter-active {
//     // top: 0;
//   animation-name: bounceInRight;
// }
@keyframes bounceOutLeft {
    20% {
        opacity: 1;
        transform: translate3d(20px, 0, 0);
    }
    to {
        opacity: 0;
        transform: translate3d(-2000px, 0, 0);
    }
}

.bounceOutLeft {
    animation-name: bounceOutLeft;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    from {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    to {
        transform: none;
    }
}

.bounceInRight {
    animation-name: bounceInRight;
}
