<!-- searchView: template -->

<div class="grid-block middle">
    <div class="grid-container">
        <div class="grid-block shrink middle pull-down-4">
            <div class="grid-content">

                <header class="grid-block gutters align-center" ng-show="$resolve.recipes.length">
                    <div class="grid-block">
                        <input ng-model="$ctrl.searchValue" class="inline-block radius search-box" type="search" placeholder="Search Recipes">
                    </div>

                    <div class="grid-block shrink align-center" ng-hide="$ctrl.showList">
                        <a ng-click="$ctrl.showList = true" class="large expanded button radius v-align"><span class="icon-th-list align-center"></span></a>
                    </div>
                    <div class="grid-block shrink align-center" ng-show="$ctrl.showList">
                        <a ng-click="$ctrl.gotoRecipes()" class="large expanded secondary button radius v-align"><span class="icon-arrow-right align-center"></span></a>
                    </div>
                </header>
                <!-- <label class=""> -->
                <!-- Search Recipes -->
                <!-- <span class="inline-label"> -->
                <!-- </span> -->
                <!-- </label> -->
                <!-- <ul> -->
                <ul class="recipe-list fade-in" ng-show="($ctrl.searchValue != '' && $ctrl.searchValue != 'undefined') || $ctrl.showList">
                    <li  class="recipe-button" ng-repeat="recipe in $resolve.recipes | filter:searchValue:'title.rendered'"><a ui-sref="recipe({slug: recipe.slug})" class="button large bg-border-color radius" title="">{{recipe.title.rendered}}&nbsp;<span class="icon-caret-right"></span></a></li>
                </ul>
            </div>
        </div>
        <!-- <a ng-click="gotoRecipes()" class="button large">Recipes</a> -->
    </div>
</div>
